<footer id="footer">
    <p>&copy; 2024 Pet Journal. All rights reserved.</p>
    <p>Current Date: <span id="current-time"></span></p>
    <script>
        document.getElementById("current-time").textContent = new Date().toLocaleDateString();
    </script>
</footer>
