body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    background-color: #f4f4f4;
}
#divMain {
    width: 98%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: calc(100vh - 80px); /* Subtract footer height */
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Enable scrolling for the entire content */
}




ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 15px 0;
    padding: 15px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

li button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

li button:hover {
    background-color: #cc0000;
}

h3 {
    margin-top: 30px;
    color: #009688;
    text-align: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

form label {
    font-weight: bold;
    width: 100%;
    text-align: left;
}

form input[type="number"],
form input[type="date"],
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

form button {
    background-color: #009688;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

form button:hover {
    background-color: #00796b;
}

a {
    color: #009688;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 20px;
}

a:hover {
    text-decoration: underline;
}
